@import url("clean-blog.css");

a:hover,
a:focus {
	transition: all 0.5s ease;
	color: #E10204;
}

.social-media{text-align: center;}
	.social-media p{display: inline-block; vertical-align: middle;}

.pager li > a:hover,
.pager li > a:focus { background-color: #E10204; border: 1px solid #000; }
.post-preview > a:hover,
.post-preview > a:focus { color: #E10204; }

.intro-header{background-size: cover;}